.profileContainer {
	display: flex;
	justify-content: space-around;
	margin: auto;
	align-items: center;
	width: 1100px;
	user-select: none;
}

.profilePicture img {
	border-radius: 40%;
}

.profilePicture {
	width: 300px;
	height: 300px;
}

.aboutContainer {
	display: flex;
	flex-direction: column;
	padding: 25px;
	flex-grow: 1;
}

.firstName {
	color: rgb(45, 193, 238);
}

.nameContainer {
	display: flex;
}

.aboutContainer h1 {
	font-size: 60px;
	margin: 5px;
}

.aboutContainer h2 {
	font-size: 25px;
	margin: 5px;
}

.aboutContainer p {
	font-size: 20px;
	margin: 5px;
	width: 500px;
}

.aboutLinksContainer {
	display: flex;
	align-items: center;
	margin: 10px;
	position: relative;
}

.aboutLinksContainer a {
	padding: 0.75rem 1.5rem;
	background-color: rgb(45, 193, 238);
	color: white;
	border-radius: 4em;
	font-size: 16px;
	font-family: 'Jost', sans-serif;
	user-select: none;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
}

.aboutLinksContainer a:hover {
	background-color: rgb(40, 166, 204);
}

.aboutLinksContainer a:active {
	position: relative;
	top: 1.5px;
}

.aboutLink {
	margin: 0px 5px;
	cursor: pointer;
}

.toolboxContainer {
	color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 20px;
	margin: 20vh 0;
}

.toolboxContainer ul {
	display: flex;
	flex-direction: row;
	width: 80vw;
	max-width: 1000px;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px;
	padding: 0;
}

.toolboxContainer li {
	width: 150px;
	list-style: none;
	font-size: 25px;
	margin: 5px;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 1300px) {
	.profileContainer {
		flex-direction: column-reverse;
		margin: 20vh 5vw;
		align-items: center;
		width: 95vw;
	}

	.aboutLinksContainer {
		justify-content: center;
	}
}

@media screen and (max-width: 560px) {
	.profileContainer {
		flex-direction: column-reverse;
		margin: 20vh 0;
		align-items: center;
	}

	.aboutLinksContainer {
		justify-content: center;
	}

	.aboutContainer {
		padding: 25px 20px;
	}

	.aboutContainer h1 {
		font-size: 35px;
	}

	.aboutContainer p {
		font-size: 20px;
		margin: 5px;
		width: 90%;
	}

	.toolboxContainer {
		margin: 20vh 0;
	}
}

@media screen and (max-height: 1000px) and (max-width: 560px) {
	.profileContainer {
		margin: 10vh 0vw;
		align-items: center;
	}

	.toolboxContainer {
		margin: 10vh 0;
	}
}
